<div id="header" class="card-holder">
    <img src="../../../assets/background.png" alt="background">
    <mat-card class="header">
        <mat-card-content>
            <h1>Wads Lets You Exchange Cryptocurrency for a Virtual Credit Card</h1>
            <h3>Fast. Easy. Use anywhere, no sign up neccesary.</h3>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [ngx-scroll-to]="'#info'" [ngx-scroll-to-offset]="-24" color="primary">Learn More</button>
        </mat-card-actions>
    </mat-card>
</div>

<div id="info" class="card-holder">
    <mat-card>
        <mat-card-title-group>
            <img mat-card-image src="../../../assets/world.svg" alt="world">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Use Anywhere</mat-card-title>
            <mat-card-subtitle>Cryptocurrency is global and we will issue you a card that works where you need it.</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-image src="../../../assets/money_card.svg" alt="money">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Save Money</mat-card-title>
            <mat-card-subtitle>Skip the high exchange fees and access the full value of your Crypto.</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-image src="../../../assets/time.svg" alt="time">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Fast Issuance</mat-card-title>
            <mat-card-subtitle>Your card is issued as soon as we verify the transaction with automatic verification on small amounts.</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card>
</div>

<div id="howto" class="card-holder">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                How It Works
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>
</div>

<div id="advisors" class="card-holder">
    <mat-toolbar>
        <h1>
          Advisors
        </h1>
    </mat-toolbar>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/atif.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Atif Farid Mohammad PhD</mat-card-title>
            <mat-card-subtitle>Sr. Data Scientist, Machine Learning Expert, CS/Data Science @UNC Charlotte Faculty</mat-card-subtitle>
        </mat-card-title-group>
      <mat-card-content>
          <p>
                Dr. Atif Farid Mohammad is a Senior Data Scientist with specific interest in Blockchain, Artificial Intelligence, Machine/Deep Learning with Natural Language Processing. Atif's 10 year goal from 2013 to 2023 is to become a Level 5 Leader to lead by example.
          </p>
      </mat-card-content>
      <mat-card-actions>
            <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/atifmfarid/">
                <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/chris.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Chris Elmore</mat-card-title>
            <mat-card-subtitle>Entrepreneur, automator, coach, mentor, professor (UNCC & Queens), 8X author, husband, father, and snappy dresser!</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p>
                - 8x Published Author - 500+ Online and Magazine Articles - Public Speaker - Motavator - Entrepreneur - Adjunct Professor (UNCC) - Corporate Teacher - Cloud Software Guy - Salesperson and Deal Maker (my favorite) - Partnership Creator, Manager and Elevator - Snappy Dresser
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/thechriselmore">
                <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<div id="team" class="card-holder">
    <mat-toolbar>
        <h1>
          The Team
        </h1>
    </mat-toolbar>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/jonathan.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Jonathan Byrne</mat-card-title>
            <mat-card-subtitle>Team Lead, Smart Contract Developer</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/jonathan-byrne-87b07577">
                <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/liam.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Liam Byrne</mat-card-title>
            <mat-card-subtitle>Exchange API Backend Developer</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/liam-byrne-a31161157">
                    <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
                </a>
            </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/loi.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Loi Phung</mat-card-title>
            <mat-card-subtitle>Card API Backend Developer</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/">
                    <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
                </a>
            </mat-card-actions>
    </mat-card>
  
    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/lukas.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Lukas Gupta-Leary</mat-card-title>
            <mat-card-subtitle>Web Developer, Backend Developer</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/in/lukasguptaleary">
                    <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
                </a>
            </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title-group>
            <img mat-card-lg-image class="profile-image" src="../../../assets/luke.jpg">
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Luke Deviney</mat-card-title>
            <mat-card-subtitle>Graphic Designer, Smart Contract Developer</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <a mat-mini-fab color="primary" target="blank" href="https://www.linkedin.com/">
                    <mat-icon aria-label="Linkedin" svgIcon="linkedin"></mat-icon>
                </a>
            </mat-card-actions>
    </mat-card>
</div>

<div id="notify" class="card-holder">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>
                Get Notified
            </mat-card-title>
        </mat-card-title-group>
        <mat-card-content matTooltip="Coming Soon!">
            <form>
                <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button disabled>Submit</button>
        </mat-card-actions>
    </mat-card>
</div>