<div id="header" class="card-holder">
    <mat-card>
      <mat-card-content>
        <h1>
            Exchange Crypto for a Single Use Virtual Credit Card
        </h1>
      </mat-card-content>
    </mat-card>
</div>

<div id="info" class="card-holder">
    <mat-card>
      <mat-card-content>
        <h1>
            Use Anywhere
        </h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
          <h1>
              Save Money
          </h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
          <h1>
              Fast Issuance
          </h1>
      </mat-card-content>
    </mat-card>
</div>

<div class="card-holder">
    <mat-card>
      <mat-card-content>
        <h1>
            How It Works
        </h1>
      </mat-card-content>
    </mat-card>
</div>

<div id="advisors" class="card-holder">
    <mat-toolbar>
        <h1>
          Advisors
        </h1>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <h1>
            Advisor
        </h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
          <h1>
              Advisor
          </h1>
      </mat-card-content>
    </mat-card>
</div>

<div id="team" class="card-holder">
    <mat-toolbar>
        <h1>
          The Team
        </h1>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <h1>
            How It Works
        </h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <h1>
            How It Works
        </h1>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
          <h1>
              How It Works
          </h1>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <mat-card-content>
          <h1>
              How It Works
          </h1>
        </mat-card-content>
      </mat-card>

      <mat-card>
          <mat-card-content>
            <h1>
                How It Works
            </h1>
          </mat-card-content>
        </mat-card>
</div>

<div class="card-holder">
    <mat-card>
      <mat-card-content>
        <h1>
            Get Notified
        </h1>
      </mat-card-content>
    </mat-card>
</div>