@import '../../../media-breakpoint.scss';

.card-holder {
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: max-content;
    grid-template-columns: auto;
    justify-content: stretch;
}

mat-card {
    height: auto;
    max-height: auto;
    background-color: rgba(48, 48, 48, 0.95);
    display: flex;
    flex-flow: column;

    grid-column: span 1;

    mat-card-title-group {
        text-align: center;
        flex: 0 0 auto;

        img.profile-image {
            display: inline-block;
            margin: auto;
            border-radius: 50%;
            border: 2px solid white;
        }
    }

    mat-card-content {
        flex: 1 1 auto;
    }

    mat-card-actions {
        flex: 0 0 auto;
        text-align: center;
        h1 button {
            font-size: 1em;
        }
    }
}

mat-toolbar {
    padding: 0px;
    grid-column: span 1;

    h1 {
        width: 100%;
        text-align: center;
        font-size: 2em;
    }
}

#team {
    grid-template-rows: max-content max-content;
    
    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
        mat-toolbar {
            grid-column: span 2;
        }
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
        mat-toolbar {
            grid-column: span 3;
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        mat-toolbar {
            grid-column: span 4;
        }
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        mat-toolbar {
            grid-column: span 5;
        }
    }
}

#advisors {
    grid-template-rows: max-content max-content;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
        mat-toolbar {
            grid-column: span 2;
        }
    }
}

#info {
    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#header {
    height: 100%;
    grid-template-rows: 100%;

    mat-card {
        height: 100%;
    }

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
        mat-card {
            grid-column: 2 / span 1;
        }
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
        mat-card {
            grid-column: 3 / span 1;
        }
    }
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-form-field {
    width: 100%;
}