<div class="wrapper">
    <mat-toolbar color="primary">
      <img src="../../../assets/logo.svg" alt="Wads">
      <span class="spacer"></span>
      <button mat-raised-button color="accent">Live Demo</button>
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav-content>
        <ng-content>
    
        </ng-content>
      </mat-sidenav-content>
      <mat-sidenav position="end" #sidenav></mat-sidenav>
    </mat-sidenav-container>
</div>