<div class="wrapper">
    <mat-toolbar class="mat-elevation-z16" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <img src="../../../assets/logo.svg" alt="Wads">
      <span class="spacer"></span>
      <button mat-raised-button color="accent">Chrome Extension Comeing Soon</button>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav></mat-sidenav>
      <mat-sidenav-content>
        <ng-content>
    
        </ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>